.navbar {
  background: rgba(0,0,0,0);
}

/*header {
  height: 100vh;
}*/

/* Change color from yellow to blue */
/* dark blue #0147FA */

a.navbar-brand.page-scroll {
  color: #FFF;
}

a.navbar-brand.page-scroll:hover {
  color: #3CC4FF;
}

a.page-scroll:hover {
  color: #3CC4FF;
}

.btn-xl {
  border-color: #3CC4FF;
  border-width: 1.5px;
  color: #3CC4FF;
  background-color: Transparent;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn.btn-xl:hover {
  border-color: #3CC4FF;
  background-color: #3CC4FF;
  color: #FFF;
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  /*-webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;*/
}

.transition {
  animation:transition 25s infinite;
  -moz-animation:transition 25s infinite; /* Firefox */
  -webkit-animation:transition 25s infinite; /* Safari and Chrome */
}

@-moz-keyframes transition /* Firefox */
{
    0%   {color:#C8FF00;}
    25%  {color:#2BEFED;}
    50%  {color:#FF68FF;}
    75%  {color:#FF5588;}
    100% {color:#CDFF33;}
}

  @-webkit-keyframes transition /* Firefox */
{
    0%   {color:#C8FF00;}
    25%  {color:#2BEFED;}
    50%  {color:#FF68FF;}
    75%  {color:#FF5588;}
    100% {color:#CDFF33;}
}
/*section#contact .section-heading {
  color: #FFF;
}*/

.navbar-nav>.active>a:hover {
  color: red;
  background-color: red;
}

.nav li a:hover {
  color: #3CC4FF;
}

.text-primary {
  color: #3CC4FF;
}
