.navbar {
  background: rgba(0,0,0,0.1);
}

header {
  height: 100vh;
}

/* Change color from yellow to blue */
/* dark blue #0147FA */

a.navbar-brand.page-scroll {
  color: #FFF;
}

a.navbar-brand.page-scroll:hover {
  color: #3CC4FF;
}

a.page-scroll:hover {
  color: #3CC4FF;
}

.btn-xl {
  border-color: #BEFF00;
  background-color: #0276FD;
}

.btn.btn-xl:hover {
  border-color: #FFF;
  background-color: #0147FA;
  color: #FFF;
}

.transition {
    animation:transition 30s infinite;
  -moz-animation:transition 30s infinite; /* Firefox */
  -webkit-animation:transition 30s infinite; /* Safari and Chrome */
}

@-moz-keyframes transition /* Firefox */
{
0%   {background:#CDFF33;}
25%  {background:#3CC4FF;}
50%  {background:#D43AFF;}
75%  {background:#FF3371;}
100% {background:#CDFF33;}
}

  @-webkit-keyframes transition /* Firefox */
{
0%   {background:#CDFF33;}
25%  {background:#3CC4FF;}
50%  {background:#D43AFF;}
75%  {background:#FF3371;}
100% {background:#CDFF33;}
}
/*section#contact .section-heading {
  color: #FFF;
}*/

.navbar-nav>.active>a:hover {
  color: red;
  background-color: red;
}

.nav li a:hover {
  color: purple;
}

.text-primary {
    color: #0276FD;
}
